@tailwind base;
@tailwind components;
@tailwind utilities;

/* links in text */

.prose :not(h1, h2, h3, h4, h5, h6) a,
.prose-lg :not(h1, h2, h3, h4, h5, h6) a {
  @apply link-primary;
}

.prose :not(h1, h2, h3, h4, h5, h6) a:visited,
.prose-lg :not(h1, h2, h3, h4, h5, h6) a:visited {
  @apply link-secondary;
}

/* table of contents */

h2#contents+ul {
  @apply card bg-base-200 shadow max-w-lg px-3 py-2 list-none;
}

h2#contents+ul a {
  @apply text-base-content;
}

h2#contents+ul ul {
  @apply list-none my-0;
}

h2#contents+ul li {
  @apply my-1;
}

h2#contents+ul ul>li:last-child {
  @apply mb-0;
}

/* re-style to override tailwind's styling */
.mockup-code pre {
  padding: 0;
  margin: 0;
  padding-right: 1.25rem;
}

/* abbreviations */

abbr[title] {
  position: relative;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: -2.5rem;
  width: auto;
  white-space: nowrap;
  @apply bg-base-300 rounded-box shadow-sm py-1 px-2;
}

/* fonts */

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v18-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v18-latin_latin-ext-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono-v18-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/jetbrains-mono-v18-latin_latin-ext-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TASA Orbiter';
  font-weight: 100 900;
  src: url('/fonts/tasa-orbiter-vf.woff2') format('woff2-variations');
}