:not(pre)>code[class*='language-'],
pre[class*='language-'] {
  color: #cdd6f4;
  background: #1e1e2e;
  border-radius: var(--rounded-box, 1rem);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: #9399b2;
}

.token.class-name,
.token.selector,
.token.attr-name,
.token.namespace {
  color: #f9e2af;
}

.token.boolean,
.token.number,
.token.constant {
  color: #fab387;
}

.token.deleted,
.token.important,
.token.builtin,
.token.symbol {
  color: #f38ba8;
}

.token.property,
.token.function,
.token.function-name,
.token.macro,
.token.tag,
.token.lifetime-annotation,
.token.url {
  color: #89b4fa;
}

.token.string,
.token.char,
.token.attr-value,
.token.variable,
.token.inserted {
  color: #a6e3a1;
}

.token.regex {
  color: #f5c2e7;
}

.token.operator,
.token.entity {
  color: #89dceb;
}

.token.keyword,
.token.atrule {
  color: #cba6f7;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}